/* Default to light theme */
.profile-img-dark {
  display: none;
}

body.dark-mode .profile-img-light {
  display: none;
}

body.dark-mode .profile-img-dark {
  display: block;
}


/* Scrollable dropdown fix for 'Affiliated labs' */
.navbar .dropdown-menu.show {
  position: absolute !important;
  top: 100% !important;
  left: 0;
  z-index: 1050;

  display: block !important;

  max-height: 300px;
  min-height: 500px;
  overflow-y: auto; /* or scroll */
  overflow-x: hidden;

  -webkit-overflow-scrolling: touch; /* Smooth on iOS */
}

/* Ensure dropdown isn't clipped */
.navbar-collapse,
.navbar-nav {
  overflow: visible !important;
}
