/* Default to light theme */
.profile-img-dark {
  display: none;
}

body.dark-mode .profile-img-light {
  display: none;
}

body.dark-mode .profile-img-dark {
  display: block;
}


/******************************************************************************
* Dropdown Scroll Fix
******************************************************************************/

@media (min-width: 576px) {
  .navbar-nav .dropdown-menu.show {
    position: absolute !important;
    top: 100%;
    left: 0;
    z-index: 1050;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
