---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill",
  "cv",
  "tabs",
  "typograms",
  "font-awesome/fontawesome",
  "font-awesome/brands",
  "font-awesome/solid",
  "font-awesome/regular",
  "tabler-icons/tabler-icons.scss",
  "tabler-icons/tabler-icons-filled.scss",
  "tabler-icons/tabler-icons-outline.scss"
  ;

/* Hide dark theme image by default */
.theme-dark {
  display: none;
}

/* If the body has the class .dark-theme, hide the light theme image and show the dark theme image */
body.dark-theme .theme-light {
  display: none;
}

body.dark-theme .theme-dark {
  display: block;
}

// In your main Sass file or _themes.scss

/* Hide dark theme image by default */
.theme-dark {
  display: none;
}

/* If the body has the class .dark-theme, hide the light theme image and show the dark theme image */
body.dark-theme .theme-light {
  display: none;
}

body.dark-theme .theme-dark {
  display: block;
}

/* Base styles */
body {
    font-family: Arial, sans-serif;
}

.profile-photo {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
}

/* Light theme */
@media (prefers-color-scheme: light) {
    .profile-photo {
        background-image: url('/assets/img/logo_480.jpg');
    }
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
    .profile-photo {
        background-image: url('/assets/img/logo_black_480.jpg');
    }
}

